{% extends "base.html" %}

{% block title %}Galería Multimedia{% endblock title %}

{% block extra_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock extra_style %}



{% block content %}

{% if mediaDetails.is_video %}

<div class="container ">

  {% if m.is_video %}
      <iframe class="card-img-top" width="100%" height="400" src="{{mediaDetails.url}}?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {% else %}
      <iframe width="100%" height="400" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url={{mediaDetails.url}}&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    {% endif %}

      <p class="font-italic">Autor: {{mediaDetails.author}}</p>
      <p class="font-italic">Fecha de creación: {{mediaDetails.created_at}}</p>
      <p class="font-italic">Pais: {{mediaDetails.country}}</p>
      <p class="font-italic">Ciudad: {{mediaDetails.city}}</p>
      <p class="font-italic">URL: {{mediaDetails.url}}</p>


</div>


<div>

</div>
{% else %}
    <iframe width="100%" height="315" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url={{m.url}}&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
{% endif %}





{% endblock content %}
